body{
    background-color: black;
    color: white;
    font-family: Verdana;
    clear:both;
}

header{
    font-size: 50px;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

p{
    font-size: 21px;
    color: gray;
}

h2{
    font-weight: 300;
    font-size: 42px;;
}

#image {
    justify-content: center;
    text-align: center;
    margin:20px;
}

footer {
    text-align: right;
    color:gray;
}
    
#video {
    text-align: center;
}

.content {
    text-align: center;
    margin:20px;
}